<%- include('component/header') %>
<div class="container">
  <div class="row write">   
      <div class="col-lg-8">
        <form action="/edit" method="post" enctype="multipart/form-data">
          <input type="hidden" name="user" value="<%= user.id %>"> 
          <input type="hidden" name="id" value="<%= post.id %>"> 
          <div class="form-group">
                <input type="text" placeholder="Title" name="title" class="form-control" value='<%= post.title %>'>
          </div>
          <div class="form-group">
                <textarea name="content" id="" cols="" rows="10" class="form-control" value='<%= post.content %>'><%= post.content %></textarea>
          </div>
          <div class="form-group">
            <input type="file"  name="file" id='file' class="form-control"/>
          </div>
          <div class="form-group">
               <button type="submit" class="form-control">Update</button>
          </div>         
      </div>
      <div class="col-lg-4">    
        <div class="category">
          <h4>Categories</h4>
          <% for(item of categories){ %>
            <div class="form-group">
              <input type="radio" name="categories" value="<%= item.id %>">      <span><%= item.name %> </span>
            </div>           
          <% } %> 
        </div>     
      </div>
    </form>
  </div>
</div>




