<%- include('component/header') %> 
<div class="home-title">
  <div class="black">
    <h1>Recent Article</h1>
  </div> 
</div>
<div class="content">
  <% for(item of posts) { %>
    <div class="post">
        <div class="title box">
              <h2><%= item.title %></h2> 
              <p><%= item.content %> </p>
              <a href="/single/<%= item.id %>"><button class="read-more">Read More</button></a>      
        </div>        
        <div class="photo box">
          <img src='/upload/<%= item.file  %>'  alt="">
        </div>
    </div> 
<% } %>  

      <div class="pop">
        <form action="/postphoto" method="post" enctype="multipart/form-data">
          <input type="file" name="pdp">
          <button type="submit">Ajouter une photo</button>
        </form>
      </div>
</div>

<%- include('component/footer') %>




