<%- include('component/header') %>
<div class="container">
    <div class="row">
        <div class="col-lg-12">  
            <div id="message_bar">   
                <% for(item of notifications){ %>
                    <% if(item.name == 'Follow') { %>
                        <% if(item.lu){ %>
                            <div class="notif_lu">
                               <p id="profils"><%= item.User.dataValues.username %>  followed you</p>  
                               <input type="hidden" value="<%= item.User.dataValues.id %>"  id="user">  
                            </div>
                        <% } else { %>
                            <div class="notif_non_lu">
                               <p id="profils"><%= item.User.dataValues.username %>  followed you</p>   
                               <input type="hidden" value="<%= item.User.dataValues.id %>"  id="user">   
                            </div>
                        <% } %>
                        
                          
                    <% }else if (item.name == 'Post'){ %>
                    
                            <% if(item.lu == true){ %>
                                
 
                            <div class="notif_lu">
                                <p id="posts"><%= item.User.dataValues.username %>  posted new article </p>
                                <input type="hidden" value="<%= item.TargetId %> ">    
                            </div>
                           

                        <% } else { %>
                           
                           
                            <div class="notif_non_lu">
                                    <p id="posts"><%= item.User.dataValues.username %>  posted new article </p>
                                    <input type="hidden" value="<%= item.TargetId %>"> 
                            </div>
                        
                        <% } %>
                      
                        
                    <% }else if(item.name == 'Like') { %>


                        <% if(item.lu == true){ %>
                            <div class="notif_lu">
                                <p id="likes"><%= item.User.dataValues.username %>  liked your post </p> 
                                <input type="hidden" value="<%= item.TargetId %> ">  
                            </div>
                        <% } else { %>
                            <div class="notif_non_lu">
                                <p id="likes"><%= item.User.dataValues.username %>  liked your post </p> 
                                <input type="hidden" value="<%= item.TargetId %> ">  
                            </div>
                        <% } %>

                     
                    <% }else { %>

                        <% if(item.lu == true){ %>
                            <div class="notif_lu">
                                <p id="comments"><%= item.User.dataValues.username %>  liked your comment </p>
                                <input type="hidden" value="<%= item.TargetId %> ">   
                            </div>
                        <% } else { %>
                            <div class="notif_non_lu">
                                <p id="comments"><%= item.User.dataValues.username %>  liked your comment </p> 
                                <input type="hidden" value="<%= item.TargetId %> ">  
                            </div>
                        <% } %>

                      
                    <% } %>
                                     
                <% } %>



            </div>
        </div>
      
    </div>
</div>

<script src="/axios/dist/axios.min.js"></script>
<script src="/client-dist/socket.io.min.js"></script>
<script>
    let socket = io()

    const notif_non_lu = document.querySelector('.notif_non_lu')
    const notif_lu = document.querySelector('.notif_lu')
    const profils =  document.getElementById('profils')
    const posts = document.querySelectorAll('#posts')
    const user = document.getElementById('user')
    const likes = document.querySelectorAll('#likes')
    const comments = document.querySelectorAll('#comments')
    

    if(profils != null){

        profils.addEventListener('click' , function(e){

            if(notif_non_lu){

                let userId = user.value

                notif_non_lu.classList.toggle('notif_lu')

                let roomName = room.value
                socket.emit('set-lu' , roomName)

                window.location.href = `/otherProfil/${userId}`

            }

            if(notif_lu){

                let userId = user.value

                window.location.href = `/otherProfil/${userId}`
            }
          
            
        })
    }


    if(posts != null){
        
        for(post of posts){

            post.addEventListener('click' , function(e){

              
                const PostId = e.target.nextElementSibling.value

                    if(notif_non_lu){

                    console.log(document.nextSibling);

                    

                    notif_non_lu.classList.toggle('notif_lu')

                    let roomName = room.value
                    socket.emit('set-lu' , roomName)

                    window.location.href = `/single/${PostId}`

                    }

                    if(notif_lu){

                        window.location.href = `/single/${PostId}`
                    }


            })
        }

      
    }


    if(likes != null){
        
        for(like of likes){

            like.addEventListener('click' , function(e){

              
                const PostId = e.target.nextElementSibling.value

                    if(notif_non_lu){

                    console.log(document.nextSibling);

                    

                    notif_non_lu.classList.toggle('notif_lu')

                    let roomName = room.value
                    socket.emit('set-lu' , roomName)

                    window.location.href = `/single/${PostId}`

                    }

                    if(notif_lu){

                        window.location.href = `/single/${PostId}`
                    }


            })
        }

      
    }



    if(comments != null){
        
        for(comment of comments){

            comment.addEventListener('click' , function(e){

              
                const PostId = e.target.nextElementSibling.value

                    if(notif_non_lu){

                    console.log(document.nextSibling);

                    

                    notif_non_lu.classList.toggle('notif_lu')

                    let roomName = room.value
                    socket.emit('set-lu' , roomName)

                    window.location.href = `/single/${PostId}`

                    }

                    if(notif_lu){

                        window.location.href = `/single/${PostId}`
                    }


            })
        }

      
    }  
</script>

