<%- include('component/header') %>
<div class="container">
    <div class="row">
        <div class="col">
            <div class="profil-user">
                <img src="/pdp/<%= profil_user.pdp %>"  alt="">
            </div>
            <h3><%= profil_user.username %></h3>
            <input type="hidden" id="user_followed" value="<%= profil_user.id %>">
            <input type="hidden" id="user_connecter" value="<%= user.id %>">
            <input type="hidden" id="user_connecter_name" value="<%= user.username %>">

        </div>
        <div class="col">
            <div class="bot">
                <span><%= nb_posts %></span>
            <h4>Posts</h4>
            </div>
            
        </div>
        <div class="col">
            <div class="bot">
                <span><%= nbFollow %></span>
            <h4><a href="/listeFollowers/<%= profil_user.id %>">Followers</a></h4>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6">
            <% if(already_followed){ %>
                <span id='following' class="btn btn-primary">Following</span>
                <span id="follow" class="btn btn-primary dis-none">Follow</span>
            <% } else { %>
                <span id="follow" class="btn btn-primary">Follow</span>
                <span id='following' class="btn btn-primary dis-none">Following</span>
            <% } %>
            
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6">
            <% for(item of posts){ %>  
                <div class="post-profil">
                    <h2><%= item.title %></h2>
                    <p><%= item.content %></p>
                    <a href="/single/<%= item.id %>">Plus</a>

                    <div class="card">
                        <img src="/upload/<%= item.file %>" alt="">
                    </div> 
                    
                      <hr>
                </div>                                     
                <% } %>
        </div>
      
    </div>
</div>
<script src="/client-dist/socket.io.min.js"></script>
<script>
    //initialisation anle socket
    let socket = io()

    const follow = document.getElementById('follow')
    const following = document.getElementById('following')
    const user_connecter = document.getElementById('user_connecter')
    const user_followed = document.getElementById('user_followed')
    const user_connecter_name = document.getElementById('user_connecter_name')


    if(follow != null){

        let FollowedId = user_followed.value
        let userConnecter = user_connecter.value
  
        
        follow.addEventListener('click' , function(e){

            e.preventDefault()
            
            let data = {

                UserId: user_connecter.value,
                FollowedId: user_followed.value,
            }
            

            socket.emit('follow' , data , FollowedId , userConnecter)

            follow.classList.add('dis-none')
            following.classList.remove('dis-none')         

        })
    }

</script>
<%- include('component/footer') %>