<%- include('component/header') %>
<div class="container">
    <div class="row" style="margin-top: 20px;">
        <div class="col">
            <div class="profil-user">
                <% if(profil_user.pdp){%>
                    <img src="/pdp/<%= profil_user.pdp %>"  alt="">
                    <% }else{ %>
                        <img src="/images/default.jpg" alt="">
                    <% } %>
            </div>
            <h3><%= profil_user.username %></h3>
            <input type="hidden" id="user_followed" value="<%= profil_user.id %>">
            <input type="hidden" id="user_connecter" value="<%= user.id %>">
            <input type="hidden" id="user_connecter_name" value="<%= user.username %>">

        </div>
        <div class="col">
            <div class="bot">
                <span><%= nb_posts %></span>
            <h3>Posts</h3>
            </div>
            
        </div>
        <div class="col">
            <div class="bot">
                <span><%= nbFollow %></span>
            <h3><a href="/listeFollowers/<%= profil_user.id %>">Followers</a></h3>
            </div>
        </div>
    </div>
  

    <div class="row">
        <div class="col-lg-6">
            <% if(already_followed){ %>
                <span id='following' class="btn btn-primary">Following</span>
                <span id="follow" class="btn btn-primary dis-none">Follow</span>
            <% } else { %>
                <span id="follow" class="btn btn-primary">Follow</span>
                <span id='following' class="btn btn-primary dis-none">Following</span>
            <% } %>
            
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-lg-6">
            <% for(item of posts){ %>  
                <div class="post-profil">
                    <h2><%= item.title %></h2>
                    <p><%= item.content %></p>
                    <a href="/single/<%= item.id %>">Plus</a>

                    <div class="card">
                        <img src="/upload/<%= item.file %>" alt="">
                    </div> 
                    
                      <hr>
                </div>                                     
                <% } %>
        </div>
      
    </div>
</div>

<%- include('component/footer') %>