<%- include('component/header') %>
<div class="container-fluid">
    <div class="row" style="margin-top: 10px;">
        <div class="col-lg-3 info-user">
            <div class="form-group">
                <div class="profil-user">
                    <img src="/pdp/<%= user.pdp %>"  alt="">
                </div>
                <div class="name">
                    <% if(user.name){ %>
                        <span><%= user.name%></span>    
                    <% } else { %>
                        <span><%= user.username %></span>    
                    <% } %> 
                </div>      
           </div>
           <hr>
           <div class="form-group">
                <span class="btn-profil">Modifier votre profil</span>
           </div>
           
           <div class="form-group">
                <span class="ajoutPhoto">Ajouter un photo de profil</span>
         </div>
           <div class="form-group">
                <span><%= nb_posts %></span> Posts
           </div>
           <div class="form-group">
            <span><%= nb_follow %></span>
            <a href="/listeFollowers/<%= user.id %>"> Followers</a>
            </div>
        </div>
        <div class="col-lg-6">
                <% for(item of posts){ %>  
                    <div class="post-profil">
                        <h2><%= item.title %></h2>
                        <div class="modif">
                            <i class="fa fa-bars" id="<%= item.id %>"></i>
                        </div>
                        <p><%= item.content %></p>
    
                        <div class="card">
                            <img src="/upload/<%= item.file %>" alt="">
                        </div> 
                        <div class="pop-bar" id="pop-bar-<%= item.id %>">
                            <a href="/edit/<%= item.id %>">Modifier l'article</a><br>
                            <a href="/delete/<%= item.id %>">Effacer l'article</a>
                        </div>
                          <hr>
                    </div>  
                    
                   
                    <% } %>
        </div>
    </div>
</div>


<div class="modif-profil">
    <h3>Modifier profil</h3>
    <form action="/editProfil" method="post">
        <div class="form-group">
            <input type="text" name="name" class="form-control" placeholder="Entrer votre nom">
        </div>
        <div class="form-group">
            <input type="date" name="dateNaissance" class="form-control">
        </div>
        <div class="form-group">
            <input type="text" name="addresse" class="form-control" placeholder="Entrer votre addresse">
        </div>
        <div class="form-group">
            <input type="text" name="contact" class="form-control" placeholder="Contact">
        </div>
        <div class="form-group">
            <label for="">Genre : </label>
            <input type="checkbox" name="genre" id="Homme" value="Homme">Homme
            <input type="checkbox" name="genre" id="Femme" value="Femme">Femme
        </div>
        <div class="form-group">
            <button type="submit" class="form-control btn btn-light">Ajouter</button>
        </div>
    </form>
</div>

<div class="pop-photo">
    <i class="fa fa-close close-pop-photo"></i>
    <form action="/postphoto" method="post" enctype="multipart/form-data">
      <input type="file" name="pdp" class='form-control'>
      <button type="submit">Changer votre photo</button>
    </form>
</div>



