<%- include('component/header') %> 
    <div class="container">
        <div class="row" style="margin-top: 30px;">
            <div class="col-lg-9">
                <div class="single-post-img">
                    <img src="/upload/<%= single.file %>"  alt="">
                </div>

                <div class="user">
                    <div class="profil">
                        <a href="/otherProfil/<%= single.User.id %>"><img src="/pdp/<%= single.User.pdp %>" alt=""></a> 
                     </div>
                     <h5><%= single.User.username %></h5>
                     <div class="publier-le">
                        <% if(differenceEnSecondes < 60){ %>

                            <span class="publier">Publié il y a :<%= differenceEnSecondes %> secondes </span>
                             
                        <% }else if(differenceEnSecondes < 3600){ %> 

                            <span class="publier">Publié il y a : <%= Math.floor(differenceEnSecondes / 60) %> minutes </span>

                        <% } else if(differenceEnSecondes < 86400){ %>

                            <span class="publier">Publié il y a : <%= Math.floor(differenceEnSecondes / 3600) %> heures </span>

                        <% }else {%>
                             <span class="publier">Publié le : <%= date_publication %> </span>
                        <% } %>
                     </div>
                     <div class="icone">
                        <% if(postlike){ %>
                            <i class="fa fa-thumbs-down likepost "  id="<%= single.id %>"></i> 
                         <% }else{ %>
                             <i class="fa fa-thumbs-up likepost"  id="<%= single.id %>"></i> 
                             
                         <% } %>
                         <span class="nblike"><%= nbLike %></span> 
                         <span class="listeLikes pointer">Likes</span>
                    </div>
                </div>  
                
                <div class="single-post-title">
                    <h1><%= single.title %></h1>
                    <p><%= single.content %></p>
                </div>

                <input type="hidden" value="<%= user.id %>" id="user">
                <input type="hidden" value="<%= single.User.id %>" id="userFollowed">

                <div class="comment">
                    <form action="/postComment" method="post" class="addComment">
                        <input type="hidden" name="post" id="post" value="<%= single.id %>">
                        <input type="text" placeholder="Ajouter un commentaire..." name="comment" class="inputComment">
                        <button>Add Comment</button>
                    </form>
                </div> 
              
        
                <% if(allComments.length > 0 ){ %>
                    <% for(item of allComments) { %>                 
                            <div class="user-comment-profil">
                                <img src="/pdp/<%= item.User.pdp %>" alt="">
                                <span class="username"><%= item.User.username %></span>
                                <p class="post-comment"><%= item.dataValues.comment %></p>           
                            </div>

                            <div class="comment-like">
                                <% if(item.liked == true ){ %>
                                    <span class="likeComment blue pointer" id="<%= item.dataValues.id %>">Like</span> 
                                    <span class="likeCount-<%= item.dataValues.id %>"><%= item.nb_likes %></span> 
                            <% } else { %>
                                    <span class="likeComment pointer" id="<%= item.dataValues.id %>">Like</span>
                                    <span class="likeCount-<%= item.dataValues.id %>"><%= item.nb_likes %></span> 
                            <% } %>
                        </div>
    
                                
                     <% } %>
                <% } %>

              
    
            </div>
            <div class="col-lg-3">  
                <h4 style="text-align: center;">Other Post You May Like</h4>                       
                    <% for(item of posts){ %>  
                        <div class="other-post-img">
                            <img src="/upload/<%= item.file %>" alt="">              
                        </div>       
                        <div class="other-post-title">
                            <h5><%= item.title %></h5>
                            <a href="/single/<%= item.id %>"><button class="read-more">Read More</button></a> 
                        </div>  
                        <hr>
                    <% } %>
                   
            </div>
        </div>
    </div>  

    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="single-post-img">
                    
                </div>
            </div>
            <div class="col-lg-4"></div>
        </div>
    </div>
    <div class="pop-like">
        <i class="fa fa-close close"></i>
            <% for(like of likes){ %>
                <div class="user-profil">
                    <img src="/pdp/<%= like.User.pdp %>" alt="">
                </div>

                <h5><%= like.User.username %></h5>  
               
            <% } %> 
    </div>  


<div class="pop-error singleError">
    <% if(error) { %>
        <span><%= error %></span><br>
     <% } %>     
</div> 

