<%- include('component/header') %>
<div class="container">
  <div class="row write">   
      <div class="col-lg-8">
        <form action="/write" method="post" enctype="multipart/form-data" class="form">
          <input type="hidden" name="UserId" value="<%= user.id %>" id="user"> 
          <div class="form-group">
                <input type="text" placeholder="Title" name="title" class="form-control" id="title">
          </div>
          <div class="form-group">
                <textarea name="content" cols="" rows="10" class="form-control " id="content"></textarea>
          </div>
          <div class="form-group">
            <input type="file"  name="file" id='file' class="form-control"/>
          </div>
          <div class="form-group">
               <button  class="form-control ">Write</button>
          </div>         
      </div>
      <div class="col-lg-4">    
        <div class="category">
          <h4>Categories</h4>
          <select name="categories" id="category">
            <% for (item of categories) { %>
              <div class="form-group">
                <option value="<%= item.id %>"><%= item.name %></option>
              </div>
            <% } %>
          </select>
        </div>

      
      </div>
    </form>
  </div>
</div>
<script src="/ckeditor/ckeditor.js"></script>
<script src="/axios/dist/axios.min.js"></script>
<script src="/client-dist/socket.io.min.js"></script>

<script>

  

  let socket = io()


  const form = document.querySelector('.form')
  const user = document.getElementById('user')
  const inputTitle = document.getElementById('title')
  const inputContent = document.getElementById('content')
  const inputCategory = document.getElementById('category')
  const inputFile = document.getElementById('file')
  const followers = document.querySelectorAll('#followers')

  if(form != null){

        form.addEventListener('submit' , (event)=>{

          event.preventDefault()

          if(inputFile.files[0]){

               const formdata = new FormData()

          
              formdata.append('title' , inputTitle.value)
              formdata.append('content' , inputContent.value)
              formdata.append('file' , inputFile.files[0])
              formdata.append('categories' , inputCategory.value)
              formdata.append('UserId' , user.value)

              axios.post('http://localhost:9000/write' , formdata)
              .then((res) =>{

             
              let data = res.data.newPost
             
              let UserId = user.value
          
              socket.emit('new_post', data)

              window.location.href = '/'
            })
            .catch(e => console.log(e))
              
          }else{

               const formdata = new FormData()

          
              formdata.append('title' , inputTitle.value)
              formdata.append('content' , inputContent.value)
              formdata.append('file' , null)
              formdata.append('categories' , inputCategory.value)
              formdata.append('UserId' , user.value)

              axios.post('http://localhost:9000/write' , formdata)
             .then((res) =>{

             
              let data = res.data.newPost
             
              let UserId = user.value
          
              socket.emit('new_post', data)

              window.location.href = '/'
            })
            .catch(e => console.log(e))
           }

         

          // console.log(formdata);

        
      
          
          
        })
      
  }

</script>



<%- include('component/footer') %>