<%- include('component/header') %>
<div class="container">
  <div class="row write">   
      <div class="col-lg-8">
        <form action="/write" method="post" enctype="multipart/form-data" class="form">
          <input type="hidden" name="UserId" value="<%= user.id %>" id="userPost"> 
          <div class="form-group">
                <input type="text" placeholder="Title" name="title" class="form-control" id="title">
          </div>
          <div class="form-group">
                <textarea name="content" cols="" rows="10" class="form-control " id="content"></textarea>
          </div>
          <div class="form-group">
            <input type="file"  name="file" id='file' class="form-control"/>
          </div>
          <div class="form-group">
               <button  class="form-control ">Ecrire un article</button>
          </div>         
      </div>
      <div class="col-lg-4">    
        <div class="category">
          <h4>Categories</h4>
          <% for(item of categories){ %>
            <div class="form-group">
              <input type="radio"  id='category' name="categories" value="<%= item.id %>">      <span><%= item.name %> </span>
            </div>           
          <% } %> 
        </div>     
      </div>
    </form>
  </div>
</div>
<%- include('component/footer') %>