<div class="header">
    <div class="list-icone">
        <ul>
            <li><i class="fa fa-facebook"></i></li>
            <li><i class="fa fa-twitter"></i></li>
            <li><i class="fa fa-instagram"></i></li>
            <li><i class="fa fa-dribbble"></i></li>
        </ul>
        <div class="search">
            <ul>
                <li>
                    <form action="/search" method="get">
                        <input type="text" name="search" placeholder="Search...">
                        <button type="submit"><i class="fa fa-search"></i></button>
                    </form>
                </li>
                <li class="notification_link"><i class="fa fa-bell-o"></i></li>
                <li>
                    <% if(user){ %>
                        <input type="hidden" id="room" value="<%= user.id %>">
                        <input type="hidden" id="user" value="<%= user.id %>">
                        <li>
                            <% if(user.pdp){ %>
                                <div class="user-profil">
                                    <img src="/pdp/<%= user.pdp %>" alt="">
                                </div>
                            <% } else {%>
                                <div class="user-profil">
                                    <img src="/images/default.jpg" alt="">
                                </div>
                            <% } %>
                        </li>
                    <% }else{ %>
                            <li><a href="/login"><i class="fa fa-user"></i></a></li>
                    <% } %> 
            </ul>
        </div>  
    </div>
    <div class="navbar">
        <ul class="nav-categories">
            <li><a href="/">ACCUEIL</i></a></li>  
            <% for(item of categories){ %>
                <li><a href="/postCategory/<%= item.id %>"><%= item.name %></a></li>
            <% } %>   
        </ul>
    </div>
</div>

           

<% if(user){ %>
    <div class="pop-user"> 
        <i class="fa fa-close close-user"></i>
        <i class="fa fa-pencil"><a href="/write">Ecrire un article</a></i>  
        <hr>
        <i class="fa fa-user"><a href="/profil">Profil</a></i>  
        <hr>
       <i class="fa fa-sign-out"><a href="/logout">Se deconnecter</a></i> 
    </div>  

    <div class="pop-notif">
        <h4>Notifications</h4>
        <i class="fa fa-close close-notif"></i>
        <div id="message_bar">   
            <% for(item of notifications){ %>
                <% if(item.name == 'Follow') { %>
                    <% if(item.lu){ %>
                        <div class="notif_lu pointer">
                            <div class="profil">
                                <% if(user.pdp){ %>
                                    <img src="/pdp/<%= item.User.dataValues.pdp %> " alt="">
                                <% } else{ %>
                                    <img src="/images/default.jpg" alt="">
                                <% } %>
                                
                            </div>
                           <p id="profils" class="left"><%= item.User.dataValues.username %>  vous suit</p>  
                           <input type="hidden" value="<%= item.User.dataValues.id %>"  id="other_profil_user">  
                           <% if(item.publier < 60){ %>
                            <p class="ago"><%= item.publier %> secondes </p>
                             
                        <% }else if(item.publier < 3600){ %> 
    
                            <p class="ago"><%= Math.floor(item.publier / 60) %> minutes </p>
    
                        <% } else if(item.publier < 86400){ %>
                            
                            <p class="ago"><%= Math.floor(item.publier / 3600) %> heures </p>
                            
                            <% }else{ %>
                                <p class="ago"><%= dateDePub(item.createdAt)  %> </p>
                            <% } %>
                        
                        
                        </div>
                       
                    <% } else { %>
                        <div class="notif_non_lu ">
                            <div class="profil">
                                <% if(user.pdp){ %>
                                    <img src="/pdp/<%= item.User.dataValues.pdp %> " alt="">
                                <% } else{ %>
                                    <img src="/images/default.jpg" alt="">
                                <% } %>
                            </div>
                           <p id="profils" class="left" ><%= item.User.dataValues.username %>  vous suit</p> 
                           <input type="hidden" value="<%= item.User.dataValues.id %>"  id="user">  
                        <% if(item.publier < 60){ %>
                            <p class="ago"><%= item.publier %> secondes </p>
                             
                        <% }else if(item.publier < 3600){ %> 
    
                            <p class="ago"><%= Math.floor(item.publier / 60) %> minutes </p>
    
                        <% } else if(item.publier < 86400){ %>
                            
                            <p class="ago"><%= Math.floor(item.publier / 3600) %> heures </p>
                            
                            <% }else{ %>
                                <p class="ago"><%= dateDePub(item.createdAt)  %> </p>
                            <% } %>
                            
                        </div>
                    <% } %>
                    
                      
                <% }else if (item.name == 'Post'){ %>
                
                        <% if(item.lu == true){ %>
                            
    
                        <div class="notif_lu">
                            <div class="profil">
                                <% if(user.pdp){ %>
                                    <img src="/pdp/<%= item.User.dataValues.pdp %> " alt="">
                                <% } else{ %>
                                    <img src="/images/default.jpg" alt="">
                                <% } %>
                            </div>
                            <p id="posts" class="left" ><%= item.User.dataValues.username %>  a posté un nouveau article </p>
                            <input type="hidden" value="<%= item.TargetId %> "> 
                            <% if(item.publier < 60){ %>
                                <p class="ago"><%= item.publier %> secondes </p>
                                 
                            <% }else if(item.publier < 3600){ %> 
    
                                <p class="ago"><%= Math.floor(item.publier / 60) %> minutes </p>
    
                            <% } else if(item.publier < 86400){ %>
                                
                                <p class="ago"><%= Math.floor(item.publier / 3600) %> heures </p>
                                
                                <% }else{ %>
                                    <p class="ago"><%= dateDePub(item.createdAt)  %> </p>
                                <% } %>
                              
                        </div>
                       
    
                    <% } else { %>
                       
                       
                        <div class="notif_non_lu">
                            <div class="profil">
                                <% if(user.pdp){ %>
                                    <img src="/pdp/<%= item.User.dataValues.pdp %> " alt="">
                                <% } else{ %>
                                    <img src="/images/default.jpg" alt="">
                                <% } %>
                            </div>
                                <p id="posts" class="left"><%= item.User.dataValues.username %> a posté un nouveau article </p>
                                <input type="hidden" value="<%= item.TargetId %>"> 
                                <% if(item.publier < 60){ %>
                                    <p class="ago"><%= item.publier %> secondes </p>
                                     
                                <% }else if(item.publier < 3600){ %> 
    
                                    <p class="ago"><%= Math.floor(item.publier / 60) %> minutes </p>
        
                                <% } else if(item.publier < 86400){ %>
                                    
                                    <p class="ago"><%= Math.floor(item.publier / 3600) %> heures </p>
                                    
                                    <% }else{ %>
                                        <p class="ago"><%= dateDePub(item.createdAt)  %> </p>
                                    <% } %>
                               
                        </div>
                    
                    <% } %>
                  
                    
                <% }else if(item.name == 'Like') { %>
    
    
                    <% if(item.lu == true){ %>
                        <div class="notif_lu">
                            <div class="profil">
                                <% if(user.pdp){ %>
                                    <img src="/pdp/<%= item.User.dataValues.pdp %> " alt="">
                                <% } else{ %>
                                    <img src="/images/default.jpg" alt="">
                                <% } %>
                            </div>
                            <p id="likes" class="left" ><%= item.User.dataValues.username %>  a aimé votre article </p> 
                            <input type="hidden" value="<%= item.TargetId %> ">  
                            <% if(item.publier < 60){ %>
                                <p class="ago"><%= item.publier %> secondes </p>
                                 
                            <% }else if(item.publier < 3600){ %> 
    
                                <p class="ago"><%= Math.floor(item.publier / 60) %> minutes </p>
    
                            <% } else if(item.publier < 86400){ %>
                                
                                <p class="ago"><%= Math.floor(item.publier / 3600) %> heures </p>
                                
                                <% }else{ %>
                                    <p class="ago"><%= dateDePub(item.createdAt)  %> </p>
                                <% } %>
                           
                        </div>
                    <% } else { %>
                        <div class="notif_non_lu">
                            <div class="profil">
                                <% if(user.pdp){ %>
                                    <img src="/pdp/<%= item.User.dataValues.pdp %> " alt="">
                                <% } else{ %>
                                    <img src="/images/default.jpg" alt="">
                                <% } %>
                            </div>
                            <p id="likes" class="left"><%= item.User.dataValues.username %>  a aimé votre article </p> 
                            <input type="hidden" value="<%= item.TargetId %> "> 
                            <% if(item.publier < 60){ %>
                                <p class="ago"><%= item.publier %> secondes </p>
                                 
                            <% }else if(item.publier < 3600){ %> 
    
                                <p class="ago"><%= Math.floor(item.publier / 60) %> minutes </p>
    
                            <% } else if(item.publier < 86400){ %>
                                
                                <p class="ago"><%= Math.floor(item.publier / 3600) %> heures </p>
                                
                                <% }else{ %>
                                    <p class="ago"><%= dateDePub(item.createdAt)  %> </p>
                                <% } %>
                            
                        </div>
                    <% } %>
    
                 
                <% }else if(item.name == 'Comment') { %>
    
                    <% if(item.lu == true){ %>
                        <div class="notif_lu">
                            <div class="profil">
                                <% if(user.pdp){ %>
                                    <img src="/pdp/<%= item.User.dataValues.pdp %> " alt="">
                                <% } else{ %>
                                    <img src="/images/default.jpg" alt="">
                                <% } %>
                            </div>
                            <p id="comments" class="left"><%= item.User.dataValues.username %> a aimé votre commentaire </p>
                            <input type="hidden" value="<%= item.TargetId %> ">  
                            <% if(item.publier < 60){ %>
                                <p class="ago"><%= item.publier %> secondes </p>
                                 
                            <% }else if(item.publier < 3600){ %> 
    
                                <p class="ago"><%= Math.floor(item.publier / 60) %> minutes </p>
    
                            <% } else if(item.publier < 86400){ %>
                                
                                <p class="ago"><%= Math.floor(item.publier / 3600) %> heures </p>
                                
                                <% }else{ %>
                                    <p class="ago"><%= dateDePub(item.createdAt)  %> </p>
                                <% } %>
                           
                        </div>
                    <% } else { %>
                        <div class="notif_non_lu">
                            <div class="profil">
                                <% if(user.pdp){ %>
                                    <img src="/pdp/<%= item.User.dataValues.pdp %> " alt="">
                                <% } else{ %>
                                    <img src="/images/default.jpg" alt="">
                                <% } %>
                            </div>
                            <p id="comments" class="left"><%= item.User.dataValues.username %>  a aimé votre commentaire </p> 
                            <input type="hidden" value="<%= item.TargetId %> "> 
                            <% if(item.publier < 60){ %>
                                <p class="ago"><%= item.publier %> secondes </p>
                                 
                            <% }else if(item.publier < 3600){ %> 
    
                                <p class="ago"><%= Math.floor(item.publier / 60) %> minutes </p>
    
                            <% } else if(item.publier < 86400){ %>
                                
                                <p class="ago"><%= Math.floor(item.publier / 3600) %> heures </p>
                                
                                <% }else{ %>
                                    <p class="ago"><%= dateDePub(item.createdAt)  %> </p>
                                <% } %>
                            
                        </div>
                    <% } %>
    
                  
                <% }else{ %>
    
                    <% if(item.lu == true){ %>
                        <div class="notif_lu">
                             <div class="profil">
                                <% if(user.pdp){ %>
                                    <img src="/pdp/<%= item.User.dataValues.pdp %> " alt="">
                                <% } else{ %>
                                    <img src="/images/default.jpg" alt="">
                                <% } %>
                            </div>
                            <p class="left" id="newComment" ><%= item.User.dataValues.username %> a commenté votre article </p>
                            <input type="hidden" value="<%= item.TargetId %> ">  
                            <% if(item.publier < 60){ %>
                                <p class="ago"><%= item.publier %> secondes </p>
                                 
                            <% }else if(item.publier < 3600){ %> 
    
                                <p class="ago"><%= Math.floor(item.publier / 60) %> minutes </p>
    
                            <% } else if(item.publier < 86400){ %>
                                
                                <p class="ago"><%= Math.floor(item.publier / 3600) %> heures </p>
                                
                            <% }else{ %>
                                <p class="ago"><%= dateDePub(item.createdAt)  %> </p>
                            <% } %>
                          
                        </div>
                    <% } else { %>
                        <div class="notif_non_lu">
                            <div class="profil">
                                <% if(user.pdp){ %>
                                    <img src="/pdp/<%= item.User.dataValues.pdp %> " alt="">
                                <% } else{ %>
                                    <img src="/images/default.jpg" alt="">
                                <% } %>
                            </div>
                            <p class="left"  id="newComment" ><%= item.User.dataValues.username %> a commenté votre article </p> 
                            <input type="hidden" value="<%= item.TargetId %> ">  
    
                            <% if(item.publier < 60){ %>
                                <p class="ago"><%= item.publier %> secondes </p>
                                 
                            <% }else if(item.publier < 3600){ %> 
    
                                <p class="ago"><%= Math.floor(item.publier / 60) %> minutes </p>
    
                            <% } else if(item.publier < 86400){ %>
                                
                                <p class="ago"><%= Math.floor(item.publier / 3600) %> heures </p>
                                
                                <% }else{ %>
                                    <p class="ago"><%= dateDePub(item.createdAt)  %> </p>
                                <% } %>
                          
                           
                        </div>
                    <% } %>
    
    
                <% } %>
                                 
            <% } %>
    
    
    
        </div>
    </div>
<% } %>


                

<script>
    function redirectToSelectedLink(select) {
        
        const selectedOption = select.options[select.selectedIndex];  // mselectionner anle option cliquena , selectedIndex : recupere index de l'option selectionner 
        const selectedLink = selectedOption.value; //maka anle url

        if (selectedLink) {
            window.location.href = selectedLink;
        }
    }
</script>